@import "_base.scss";

.scroll-activate {
  opacity: 0;
  transition: transform 4s 0.25s,
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.scroll-activate.is-visible {
  opacity: 1;
}
